.mainDiv{
    position: relative;
}
img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icons{
    width: 13px;
    height: 13px;
}

.iconContainer{
    width: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.icons:hover{
    filter: invert(27%) sepia(93%) saturate(7403%) 
    hue-rotate(356deg) brightness(102%) contrast(114%);
    
}

.editBox{
    position: absolute;
    width: 175px;
    height: 125px;
    border: 1px solid #ccc;
    z-index: 2;
    background-color:#ffff;
    padding: 5px;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 5px;
    
}

.planetInfo{
    z-index: 1;
}

.save{
    margin-left: 60px;
    color: #ffffff;
    background-color: #779eb7;
    border: 1px sokid #ccc;
    border-radius: 2px;
}

.save:hover{
    background-color: #feb654;
    color: black;
}

.planetImage{
    position: relative;
}

.moon{
    width: 8px;
    height: 8px;
}

.moonDiv{
    position: absolute;
    display: flex;
    justify-content: space-between;
}